<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/css/edit.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Stick+No+Bills&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Edit <%=beer.name%></h1>
<div class="body-container">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7NvLcdpMsJ2cST8Q_wAeSnBx2fLQZLxnrDw&usqp=CAU" class="center">
    <div class="positioning">
  <div id="editbeerbox">
    <br><form action="/beer/<%= beer.id %>?_method=PUT" method="POST">
      <br>
      Name:
        <input
        type="text"
        name="name"
        value="<%=beer.name%>"><br/>
      <br>
      Brewery:
        <input
        type="text"
        name="brewery"
        value="<%=beer.brewery%>"><br/>
        <br>
      Description:
        <input
        type="text"
        name="description"
        value="<%=beer.description%>"><br/>
        <br>
      Img:
        <input
        type="img"
        name="img"
        value="<%=beer.img%>"><br/>
        <br>
      Style:
        <input
        type="text"
        name="style"
        value="<%=beer.style%>"><br/>
        <br>
      ABV:
        <input
        type="number"
        name="abv"
        value="<%=beer.abv%>"><br/>
      <button type="submit">Update <%=beer.name%></button>
    </form>
  </div><br/>
</div>
</div>
    <br><a id="back" href="/beer">Back to Home Page</a>
</body>
</html>
