<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" type="text/css" href="/css/index.css">
  <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/public/public/style.css"> -->
</head>
<body style="background-image: url('https://www.tapsandcaps.com/wp-content/uploads/2019/03/shutterstock_1212903172.jpg')">
  <h1>Beers</h1>
  <ul>
    <% for(let i=0; i < beer.length; i++){ %>
      <li>
        <a href="/beer/<%=beer[i].id%>"><img src="<%=beer[i].img%>"></a><br/>
        <br><a href="/beer/<%= beer[i].id%>"><%= beer[i].name %></a><br/>
        <br><a href="/beer/<%=beer[i].id%>/edit"><button>Edit</button></a><br/>
       <br><form action="/beer/<%=beer[i].id%>?_method=DELETE" method='POST'>
         <input type="submit" value="DELETE">
       </form>
      </li>
    <% } %>
  </ul>
  <div class="indxpg">
    <br><a href="beer/new">Add a New Beer!</a>
  </div>
</body>
</html>
